<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @photoworkout, partial: "card", as: :photoworkout %>
  </div>
</div>

  <!-- Show Page Customization starts -->
  <!-- Show Page Customization end -->
