<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Privileges

    <a data-toggle="collapse" href="#challenge_privileges_new_form">
      Add privilege
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @challenge.privileges.each do |privilege| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to privilege, privilege %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to privilege, method: :delete, data: { confirm: "Do you really want to delete this privilege" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="challenge_privileges_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
