<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Teams

    <a data-toggle="collapse" href="#challenge_teams_new_form">
      Add team
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @challenge.teams.each do |team| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to team, team %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to team, method: :delete, data: { confirm: "Do you really want to delete this team" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="challenge_teams_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
