<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Photos

    <a data-toggle="collapse" href="#challenge_photos_new_form">
      Add photoworkout
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @challenge.photos.each do |photoworkout| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to photoworkout, photoworkout %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to photoworkout, method: :delete, data: { confirm: "Do you really want to delete this photoworkout" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="challenge_photos_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "challenges/challenge_photos_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
